__pycache__/
*.pyc
*.egg-info/
build/
.ipynb_checkpoints/
notes/*.tmp
docs/
notes/
workbooks/.ipynb_checkpoints/
surveys/victoria/
surveys/queensland_phase2/
surveys/queensland_phase3/
workbooks/examples/
